{% extends "base.html" %}
{% block title %}data generate{% endblock %}
{% load staticfiles %}
{% load custom_tags %}
{% block content %}

<div class="admin-biaogelist">
    <form class="am-form am-g" id='status_gen' name="status_gen">
        <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
                <tr class="am-success">
                    <th class="table-title">选择fe-api环境</th>
                    <th class="table-type">选择gateway环境</th>
                    <th class="table-type">选择设备类型</th>
                    <th class="table-type">True or False</th>
                    <th width="163px" class="table-title">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="selectpicker show-tick fe" data-style="btn-primary" name="fe_env">
                            {% for e in env %}
                            <option value="{{ e }}">{{ e.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="selectpicker gateway" data-style="btn-info" name="gateway_env">
                            {% for e in env %}
                            <option value="{{ e }}">{{ e.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select multiple class="selectpicker show-tick devices" data-style="btn-success" data-live-search="true" data-selected-text-format="count > 1" data-actions-box="true"
                            title="选择设备类型" name="devices">
                            {% for device in devices %}
                            <option value="{{ device }}">{{ device }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="selectpicker isopen" data-style="btn-warning" name="isopen">
                            <option value="close">CLOSE</option>
                            <option value="open">OPEN</option>
                        </select>
                    </td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"
                                    data-am-popover="{content: '执行', trigger: 'hover focus'}" onclick="start_gen()">
                                    <span class="am-icon-bug"></span>
                                </button>

                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </form>
    <form class="am-form am-g" id='set_device_data' name="set_device_data">
        <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
                <tr class="am-success">
                    <th class="table-title">选择设备类型</th>
                    <th class="table-type">设置deviceInfo</th>
                    <th class="table-type">设置事件open data</th>
                    <th class="table-type">设置事件close data</th>
                    <th width="163px" class="table-title">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="selectpicker device_set" data-style="btn-success" data-live-search="true" name="device_set">
                            {% for device in devices %}
                            <option value="{{ device }}">{{ device }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <!--输出deviceID-->
                        <div class="col-sm-8">
                            <input name="set_id" type="text" class="form-control" id="set_id" placeholder="set deviceID"
                                value="">
                        </div>
                    </td>
                    <td>
                        <!--输入open data-->
                        <div class="col-sm-8">
                            <input name="set_open" type="text" class="form-control" id="set_open"
                                placeholder="set event open data" value="">
                        </div>
                    </td>
                    <td>
                        <!--输入close data-->
                        <div class="col-sm-8">
                            <input name="set_close" type="text" class="form-control" id="set_close"
                                placeholder="set event close data" value="">
                        </div>
                    </td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"
                                    data-am-popover="{content: '设置', trigger: 'hover focus'}" onclick="set_data()">
                                    <span class="am-icon-bug"></span>
                                </button>

                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </form>
</div>


<div class="am-modal am-modal-alert" tabindex="-1" id="process-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">HttpRunnerManager</div>
        <div class="am-modal-bd">
            <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-striped active" id="process-alert_print"
                    style="width: 100%">
                    处理中...
                </div>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" onclick="processReset()">确定</span>
        </div>
    </div>
</div>
<script type="text/javascript">

    function processAlert() {
        $('#process-alert').modal(
            {
                relatedTarget: this
            }
        );
    }

    function processReset() {
        $('#process-alert_print').text("处理中")
        $('#process-alert_print').get(0).className = 'progress-bar progress-bar-warning progress-bar-striped active'
    }

    function start_gen() {
        var fe = $('.selectpicker.fe').val()
        var gateway = $('.selectpicker.gateway').val()
        var devices = $('.selectpicker.devices').val()
        var isopen = $('.selectpicker.isopen').val()
        if (devices === null) {
            myAlert('please select device type ')
        }
        else {
            processAlert()
            var data = {
                "fe_env": fe,
                "gateway": gateway,
                "devices": devices,
                "isopen": isopen
            }

            $.ajax(
                {
                    type: 'post',
                    url: '/api/status_send/',
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (result) {
                        $('#process-alert_print').get(0).className = 'progress-bar progress-bar-success'
                        $('#process-alert_print').text(result)
                    },
                    error: function () {
                        $('.am-modal-btn').click()
                        myAlert('error')
                    }
                }
            )
        }
    }

    function set_data() {
        var device = $('.selectpicker.device_set').val()
        var id = $("input[id='set_id']").val() //including channel
        var open = $("input[id='set_open']").val()
        var close = $("input[id='set_close']").val()
        if (device === null) {
            myAlert('set device type')
        }
        else if (id === "") {
            myAlert('set device id')
        }
        else if (open === "" && close === "") {
            myAlert('set data')
        }
        else {
            processAlert()
            var data = {
                "deviceType": device,
                "id": id,
                "open": open,
                "close": close
            }
            $.ajax(
                {
                    type: 'post',
                    url: '/api/set_data/',
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (result) {
                        $('#process-alert_print').get(0).className = 'progress-bar progress-bar-success'
                        $('#process-alert_print').text('success')
                    },
                    error: function () {
                        $('.am-modal-btn').click()
                        myAlert('error')
                    }
                }
            )
        }
    }
</script>
{% endblock %}