{% extends "base.html" %}
{% block title %}造一些数据{% endblock %}
{% load staticfiles %}
{% load custom_tags %}
{% block content %}
<div class="admin-biaogelist">

    <!-- 选择环境 -->
    <div class="splash-head">
        <form class="am-form am-g" id="env-select" name="env-select">
            <h2 class="am-serif am-text-primary">1. 选择你的环境</h2>

            <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
                <thead>
                    <tr class="am-success">
                        <th>FE-API</th>
                        <th>Gateway-API</th>
                        <th>Screen-API</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select class="selectpicker show-tick fe_env" data-style="btn-primary" data-width="250px"
                                id="fe_env">
                                {% for e in env %}
                                <option value="{{ e }}">{{ e.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="selectpicker show-tick gateway_env" data-style="btn-info" data-width="250px"
                                id="gateway_env">
                                {% for e in env %}
                                <option value="{{ e }}">{{ e.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select class="selectpicker show-tick screen_env" data-style="btn-success"
                                data-width="250px" id="screen_env">
                                {% for e in env %}
                                <option value="{{ e }}">{{ e.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- 造数据 -->
    <!-- 1. disable rule 2. execute 3. view result -->
    <div class="splash-head">
        <form class="am-form am-g" id="env-select" name="env-select">
            <div>
                <h2 class="am-serif am-text-primary">2. 发送设备状态 生产事件</h2>
            </div>
            <ul class="am-avg-sm-3">
                <li>
                    <button type="button" class="am-btn am-btn-warning am-round am-btn-lg"
                        data-am-popover="{content: 'Disable已存在的规则（可选）', trigger: 'hover focus'}" style="width: 250px"
                        onclick="disable_rule()">Disable Rule</button>

                </li>
                <li>
                    <button type="button" class="am-btn am-btn-primary am-round am-btn-lg"
                        data-am-popover="{content: '开始发送状态数据', trigger: 'hover focus'}" style="width: 250px"
                        onclick="execute('open')">Execute Open</button>

                </li>
                <li>
                    <button type="button" class="am-btn am-btn-primary am-round am-btn-lg"
                        data-am-popover="{content: '开始发送状态数据', trigger: 'hover focus'}" style="width: 250px"
                        onclick="execute('close')">Execute Close</button>

                </li>

            </ul>

        </form>

    </div>

    <!-- 结果区 -->
    <div class="splash-head">
        <form class="am-form am-g" id="json-view" name="json-view">
            <div>
                <h2 class="am-serif am-text-primary">3. 结果区</h2>
            </div>
            <div id="detail" style="display: none">
                <button type="button" class="btn btn-primary" disabled>执行详情</button>
                <pre><code class="language-json" id="detail-data"></code></pre>
            </div>
        </form>
    </div>

</div>


<div class="am-modal am-modal-alert" tabindex="-1" id="process-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">HttpRunnerManager</div>
        <div class="am-modal-bd">
            <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-striped active" id="process-alert_print"
                    style="width: 100%">
                    处理中...
                </div>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" onclick="processReset()">确定</span>
        </div>
    </div>
</div>

<script type="text/javascript">

    function disable_rule() {
        var fe = $('.selectpicker.fe_env').val()
        var gateway = $('.selectpicker.gateway_env').val()
        var screen = $('.selectpicker.screen_env').val()
        processAlert()
        var data = {
            "action": "rule_disable",
            "fe": fe,
            "gateway": gateway,
            "screen": screen,
        }
        $.ajax(
            {
                type: 'post',
                url: '/api/status_send/',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (result) {
                    $('#process-alert_print').get(0).className = 'progress-bar progress-bar-success'
                    var json = JSON.parse(result)
                    document.getElementById('detail').style.display = 'block'
                    $('#detail-data').text(result)
                    Prism.highlightAll()
                    $('#process-alert_print').text('rule disable情况如下')
                },
                error: function () {
                    $('.am-modal-btn').click()
                    myAlert('error')
                }
            }
        )

    }

    function execute(action) {
        var fe = $('.selectpicker.fe_env').val()
        var gateway = $('.selectpicker.gateway_env').val()
        var screen = $('.selectpicker.screen_env').val()
        processAlert()
        var data = {
            "action": "execute",
            "fe": fe,
            "gateway": gateway,
            "screen": screen,
            "isopen": action
        }
        $.ajax(
            {
                type: 'post',
                url: '/api/status_send/',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (result) {
                    $('#process-alert_print').get(0).className = 'progress-bar progress-bar-success'
                    var json = JSON.parse(result)
                    var detail = json.detail
                    document.getElementById('detail').style.display = 'block'
                    $('#detail-data').text(result)
                    Prism.highlightAll()
                    $('#process-alert_print').text('success: ' + json.success + ' fail: ' + json.fail)
                },
                error: function () {
                    $('.am-modal-btn').click()
                    myAlert('error')
                }
            }
        )
    }

    function processAlert() {
        $('#process-alert').modal(
            {
                relatedTarget: this
            }
        );
    }

    function processReset() {
        $('#process-alert_print').text("处理中")
        $('#process-alert_print').get(0).className = 'progress-bar progress-bar-warning progress-bar-striped active'
    }

</script>
{% endblock %}