{% extends "base.html" %}
{% block title %}XMind2TestCase{% endblock %}
{% load staticfiles %}
{% load custom_tags %}
{% block content %}

<div class="admin-biaogelist">
    <div class="splash-head">
        <div class="select-xmind splash-subhead">
            <form method="post" enctype="multipart/form-data" action="/api/generate_testcase/">
                <label id="file-label" for="file">
                    --> 点击这里选择您的XMind文件
                    <-- </label> <input id="file" accept=".xmind" type="file" name="file" required /><br>
                    <input type="submit" class="pure-button " value="开始转换" />
            </form>
        </div>
    </div>
    <form class="am-form am-g" id='test_list' name="test_list">

        <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
                <tr class="am-success">
                    <th width="60%">NAME</th>
                    <th width="17%">TIME</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td title="{{ record }}"> {{ record.name }}</td>
                    <td>{{ record.time }}</td>
                    <td>
                        <a href="/api/file_download/{{ record.xmind_file }}">XMIND</a> |
                        <a href="/api/file_download/{{ record.xlsx_file }}">XLSX</a> |
                        <a href="/api/record_view/{{ record.xmind_file }}">PREVIEW</a> |
                        <a href="javascript:delete_record('{{ record.xmind_file }}');">DELETE</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>


        <ul class="am-pagination am-fr">
            {{ page_list }}
        </ul>


        <hr />

    </form>
</div>




<script>

    document.getElementById("file").addEventListener("change", function () {
        if (this.value) {
            document.getElementById("file-label").innerHTML = this.value.split("\\").pop();
        }
    });

    function delete_record(file_name) {
        console.log(file_name)
        $.ajax(
            {
                type: 'post',
                url: '/api/delete_record/',
                data: JSON.stringify(file_name),
                contentType: "application/json",
                success: function (result) {
                    console.log(result)
                    // $('.am-table.am-table-bordered.am-table-radius.am-table-striped').reload(true);
                    location.reload(true);
                },
                error: function () {

                }
            }
        )
    }
</script>

{% endblock %}